@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "/assets/fonts/style.css";

.font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.blur-blob {
    filter: blur(40px);
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 9999px;
    z-index: -10;
}